.side-panel-image
  = image_tag 'http://lorempixel.com/200/175/business/'
%div.panel.side-panel
  %h4 Test Yourself
  %p Students who take the SAT more often earn higher scores.
.side-panel-image
  = image_tag 'http://lorempixel.com/200/174/business/'