%div.panel.side-panel
  Here is some content.
%div.panel.side-panel
  Here is some content.
%div.panel.side-panel
  Here is some content.
%div.panel.side-panel
  Here is some content.
%div.panel.side-panel
  Here is some content.
%div.panel.side-panel
  Here is some content.