%h1
  Experience list for
  = @student.full_name
= add_button new_student_experience_path, "Create new experience"
%ul
%h2
  %small
    ="List of Experiences"
  - @experiences.each do |experience|
    %li
      = link_to experience.title, [@student, experience]