= form_for([@student, @form]) do |goalpath_form|
  = render partial: 'application/form_component', locals: { f: goalpath_form, field: :end_goal, required: true }

  = goalpath_form.select(:schools, options_from_collection_for_select(School.all, :id, :school_name), {prompt: 'Select one or more schools that relate to this goal'}, { multiple: true, data: {'selectize-standard' => true} })

  = goalpath_form.submit