%h1= "Goal: #{@goalpath.end_goal.titleize}"
%h2= @student.full_name

=link_to 'Back', [@student, :goalpaths]
=link_to 'Edit', [:edit, @student, @goalpath]

- schools = @goalpath.schools
- unless schools.empty?
  %h3
    Schools Associated with this Goal:
  %ul
    - schools.each do |school|
      %li= school.school_name
