%h1 Prospective Universities
%br
= add_button new_school_path, "Create new school"
%br
- @schools.each do |school|
  %br
  %strong
    School Name:
  = school.school_name
  %br
  = link_to "View School", school_path(school)
  %br
  %br
= back_button root_path