// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


nav.top-bar {
  text-align:left;
}

div.nav-right {
  text-align: right;
  float: right;
}

li {
  list-style-type: none;
}