#footerwrap
  .container
    .row
      .medium-4.columns
        %h4.footertitle College Path | About Us
        .hline-w
        %p We are here to help you be the best you can be!
        %br
        &copy; 2015 College Path&reg;
      .medium-4.columns
        %h4.footertitle Social Links
        .hline-w
        %p
          =link_to '#' do
            %span.fi-social-facebook
          =link_to '#' do
            %span.fi-social-twitter
          =link_to '#' do
            %span.fi-social-instagram
          =link_to '#' do
            %span.fi-social-github
      .medium-4.columns
        %h4.footertitle Our Location
        .hline-w
        %p
          987 Education Ave.,
          %br
          Mount Pleasant, SC.
          %br
          United States.
          %br