#footerwrap
  .container
    .row
      .medium-4.columns
        %h4.footertitle College Path | About Us
        .hline-w
        %p We are here to help you be the best you can be!
        %br
        &copy; 2015 College Path&reg;
      .medium-4.columns
        %h4.footertitle Social Links
        .hline-w
        %p
          %a{:href => "#"}
            %i.foundicon.facebook
          %a{:href => "#"}
            %i.foundicon.twitter
          %a{:href => "#"}
            %i.foundicon.instagram
          %a{:href => "#"}
            %i.foundicon.github
      .medium-4.columns
        %h4.footertitle Our Location
        .hline-w
        %p
          987 Education Ave.,
          %br
          Mount Pleasant, SC.
          %br
          United States.
          %br