#footerwrap
  .container
    .row
      .medium-4.columns
        %h4.footertitle College Path | About Us
        .hline-w
        %p We are here to help you be the best you can be!
      .medium-4.columns
        %h4.footertitle Social Links
        .hline-w
        %ul.social-icons.inline-list
          %li
            = link_to '#' do
              %span.fi-social-facebook
          %li
            =link_to '#' do
              %span.fi-social-twitter
          %li
            =link_to '#' do
              %span.fi-social-instagram
          %li
            =link_to '#' do
              %span.fi-social-github
      .medium-4.columns
        %h4.footertitle Our Location
        .hline-w
        %p
          987 Education Ave.,
          %br
          Mount Pleasant, SC.
          %br
          United States.
          %br
      .copyright-notice &copy; 2015 College Path&reg;
